html, body{
height: 100%;
}
body{
background: url("../imagens/capa.png"),
            url("../imagens/ruido.png"),
            linear-gradient(50deg, #ff4169, #7c26f8);
background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav.navbar-trasparente{
padding: 15px 0px;
background: rgba(0,0,0, 0.6);
}
.navbar-light .navbar-nav .nav-link{
color: rgb(255, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover{
color: #9bf0e1;
}
.navbar-light .navbar-toggler{
color: rgba(255,255,255, 0.5);
border-color:rgba(255,255,255, 0.5) ;
}
.divisor{
width: 1px ;
background: white;
margin: 12px 15px;
}
.carrosel{
    background: white;
    height: 1000px;
}
/* serviços */
#servicos{
    background-color: white;
}
.caixa{
    padding: 20px;
    padding-bottom: 20px;
}
.albuns{
padding: 10px 0;
}
h2{
    color: #7c26f8;
}
h3{
    color: #7c26f8;
}
